/**{
    outline:1px solid rgb(216, 29, 60)
}*/
.wrapper {
    display: flex;
    flex-wrap: wrap;
}
nav{
    order: 1;
    flex-basis: 100%;
    background-color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 80, 80);
    padding: 5px;
    margin-left: 50px;
}
nav a:first-child {
    margin-right: 10px;
    text-decoration: none;
}
  
nav a:last-child {
    margin-left: 10px;
    text-decoration: none;
}
.content {
    order: 2;
    flex: 1;
    background-image: url(../img/pic4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    padding: 30px;
    padding-top: 100px;
    color: aliceblue;
    height: 400px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 150px;
    justify-content: left;
    align-items: left;
}    
.content p{
   width: 500px;
   text-align: justify;
   margin-left:20px;
   text-shadow: 3px 3px 3px #000;
}
.content h1{
    margin-left: 20px;
}
.video{
    display:flex;
    justify-content: center;
}
.tableFlex{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    height:150px;
}
table{
    outline: 1px solid gray;
    width:350px;
    padding-top: 10px;
}
thead tr th{
    padding-bottom: 10px;
}
tbody tr:first-child td{
    background-color: rgb(78, 78, 78);
    color:aliceblue;
    padding-left: 15px;
}
tbody tr:nth-child(2) td{
    padding-left: 15px;
  }
tbody tr:last-child td{
    background-color: rgb(78, 78, 78);
    color:aliceblue;
    padding-left: 15px;
}
.footer {
    display: flex;
    height: 180px;
    background-color: black;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
